.carousel-inner{
    max-height: 39rem;
    
}
@media (max-width:768px) {
    #intro, #equipo{
        width: 90% !important;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
}

@media (max-width:576){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}
@media (max-width:1200px){
    #local{
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}
.mapa{
    background: url(/multimedia/san\ isidro\ mapa.png);
    width: auto;
    height: auto;
}

#numeros-local div{
    padding: 0 20px 0 0;
    height: 48px;
}

#numeros-local div:not(:last-child){
    border-right: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child){
    padding: 20px;
}



#local{
    background-color: #f3f3f3;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 50%;
    margin-left: 100px;
    padding-top: 150px;
}

#contenedor-formulario {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    max-width: 500px;
}

footer{
    background: #0b1326;
    color: white;
    
}
footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos{
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3
}

.nav__ul{
    justify-content: space-around;
    font-size:larger;
    text-transform: uppercase;
    display: flex;
    list-style: none;
    padding: 0;
    width: 60%;
    max-width: 100px;
    margin:auto;   
    height: 10%;
    display: flex;
}
.nav__li{
    text-decoration: none;
    text-transform: uppercase;
    padding: 40px;
    display:inline-block;
    text-align: center;
    display: flex;
}

.nav__li a:hover{
    font-size: larger;
    text-transform: uppercase;
    text-decoration:none;
    color: rgba(18, 43, 2, 0.578);
    background-color: rgb(172, 170, 170);
    border-radius: 3px;
    padding:10px ;
    display: flex;
}